
<div class="whole">
    <div class="image">
        <!-- {{product.image}} -->
        <img class="image-show" src="{{product.image}}" alt="">
    </div>
    <div class="body">
        <div class="name">
            {{product.name}}
        </div>
        <div class="description">
            {{product.des}}
        </div>
        <div class="category">
            Owner details
            <p></p>
            <p>Name:{{product.fullname}}</p>
            <p>Contact:{{product.cnumber}}</p>
            <p>Year:{{product.year}}</p>
        </div>
        <div class="price">
            <p>Price:Rs {{product.price}}</p>
        </div>
        <!-- <button class="btn btn-primary " (click)="handleaddtocart()"> Contact</button> -->
        <button mat-raised-button  class="btn btn-primary " style="margin-left:20px" [routerLink]="['/display']"> Back</button>
        <button mat-raised-button color="warn" style="margin-left:20px" (click)="delete(product.id)"> Delete</button>
        
    </div>
</div>