 <div class="container mt-5 high imptwo" >
   <div class="row">
      <div class="col-md-4 col-sm-12">
         <div class="card"> 
            <div class="img">
               <mat-spinner style="position:absolute;top:20%;left:30%" *ngIf="loadingone" class="spinner" [diameter]="40" ></mat-spinner>
               <img [hidden]="loadingone" (load)="onLoadOne()" src="../../assets/bg.jpg" />
            </div>
            <div class="top-text">
               <div class="name"> 
                  Learn from others
               </div>
               <p class="colorchange">
                  Read Interview Experience
               </p>
            </div>
            
            <div class="bottom-text">
               <div class="text">
                  Best interview experiences that show you light to land your dream job. 10K+ best company interview experiences. If you are contributor then write and let others learn from your experience.
                  And make it happen .
                              </div>
               <div class="btn">
                  <a routerLink="/experiencelist">Read more</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-12">
         <div class="card">
            <div class="img">
               <mat-spinner style="position:absolute;top:20%;left:30%" *ngIf="loadingtwo" class="spinner" [diameter]="40" ></mat-spinner>

               <img [hidden]="loadingtwo" (load)="onLoadTwo()" src="../../assets/b.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                  Test yourself
               </div>
               <p class="colorchange">
                  Schedule Mock interviews
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Here is everything to crack your next interview. One-to-one sessions with experts who practice you interview questions and make you job ready, boost your confidence and help you to land your aspire job.
               </div>
               <div class="btn">
                  <a routerLink="/mock">Read more</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-12">
         <div class="card">
            <div class="img">
               <mat-spinner style="position:absolute;top:20%;left:30%" *ngIf="loadingthree" class="spinner" [diameter]="40" ></mat-spinner>

               <img [hidden]="loadingthree" (load)="onLoadThree()" src="../../assets/a.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                   Know the process
               </div>
               <p class="colorchange">
                  Read Job Description
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Passionate about latest IT jobs then you are at right place. Here are more than 10K+ job opportunities for you. Top MNC's, Product base and service base every recruitment drive is here to help you seek your dreams
               </div>
               <div class="btn">
                  <a routerLink="/company">Read more</a>
               </div>
            </div>
         </div>
      </div>
   </div>
  
   
 
</div>

<div class="container mt-5 high imptwo" >
   <div class="row">
      <div class="col-md-4 col-sm-12">
         <div class="card"> 
            <div class="img">
               <mat-spinner style="position:absolute;top:20%;left:30%" *ngIf="loadingone" class="spinner" [diameter]="40" ></mat-spinner>
               <img [hidden]="loadingone" (load)="onLoadOne()" src="https://www.globalcareercounsellor.com/blog/wp-content/uploads/2021/01/the-importance-of-networking.jpg" />
            </div>
            <div class="top-text">
               <div class="name"> 
                  Explore your contacts
               </div>
               <p class="colorchange">
                  Let's connect with anyone
               </p>
            </div>
            
            <div class="bottom-text">
               <div class="text">
                  Want to connect with alumni, seniors as well with juniors then just search and connect with them. Make connections and explore contacts.
                              </div>
               <div class="btn">
                  <a routerLink="/search">Read more</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-12">
         <div class="card">
            <div class="img">
               <mat-spinner style="position:absolute;top:20%;left:30%" *ngIf="loadingtwo" class="spinner" [diameter]="40" ></mat-spinner>

               <img [hidden]="loadingtwo" (load)="onLoadTwo()" src="https://thumbs.dreamstime.com/b/sharing-books-hand-closeup-giving-book-outdoors-sharing-books-hand-closeup-giving-book-246353328.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                  Extend a helping hand.
               </div>
               <p class="colorchange">
                  Buy and sell Books
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
               Help college mates by sharing notes and books here. One can sell used books and also buy books from anyone belonging to your college.
               </div>
               <div class="btn">
                  <a routerLink="/display">Read more</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-12">
         <div class="card">
            <div class="img">
               <mat-spinner style="position:absolute;top:20%;left:30%" *ngIf="loadingthree" class="spinner" [diameter]="40" ></mat-spinner>

               <img [hidden]="loadingthree" (load)="onLoadThree()" src="https://blog.shift4shop.com/hubfs/iStock-1051616786.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                   Sell your goods
                   
               </div>
               <p class="colorchange">
                  Buy and sell goods
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
              Buy and sell goods in hostel and get delivery at your doorsteps withand enhanin hours. It helps to build hostel ecommerce.
               </div>
               <div class="btn">
                  <a routerLink="/display">Read more</a>
               </div>
            </div>
         </div>
      </div>
   </div>
  
   
 
</div>

<br>
<br>
<br>
<br>
<br>

<div class="container-fluid content pb-5 impone" >

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 content-inner box" style="font-size:larger;line-height:30px;color:#856af4;border: 3px solid #856af4;border-radius: 30px;">
                    <h1 style="font-size:xx-large ;">Platform for the next billion students</h1>
        <div class="row">
         <div class="col-md-6">
            <p style="font-weight:bolder">Students need a proper assistance for their career from the seniors and alumni’s in respect to
               the job, interview and other guidance from them. To solve this problem, We are building a one
               stop solution for the student assistance for the requirement of student in one place.
               Campus Assistance is mainly an assisting application for students from same campus and that
               assist them virtually for interview guidance, job portals, books renting, purchasing and buying
               hostel goods, plus they can also connect with the seniors aur alumnis for the personal guidance
               on the interview and other campus related information and help.
               The main objective of this application is to fascinates freshers with required needs and build
               friendly connection with seniors and juniors.
                     </p>
         </div>
         <div class="col-md-6">
            <img src="https://assets.interviewbit.com/packs/images/man-flying.64b476.png" alt="image about us" width="100%">
         </div>
        </div>
    </div>
  </div>

</div>


